@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:root {
    --main-orange: #F5886C;
    --dark-Black: #373435;
}

h1,
h2,
h3,
h4 {
    font-family: "Afacad", sans-serif;
}


.bg-main-orange {
    background-color: var(--main-orange);
}

.text-dark-black {
    color: var(--dark-Black);
}



/* .cardsShadowCaroussel {
    box-shadow: 0px 4px 82px 0px rgba(0, 0, 0, 0.00), 0px 128px 75px 0px rgba(136, 136, 136, 0.01), 0px 16px 64px 0px rgba(0, 0, 0, 0.05), 0px 27px 27px 0px rgba(0, 0, 0, 0.0), 0px 12px 26px 0px rgba(0, 0, 0, 0.08);
} */


/* Embla carousel css */

.embla {
    overflow: hidden;
    height: 600px;
}

.embla__container {
    display: flex;
    gap: 120px;
    padding-top: 80px;
}

.embla__slide {
    flex: 0 0 500px;
    height: 350px;
    min-width: 0;
    border-radius: 14px;
}

.embla__slide:nth-child(4) {
    margin-right: 120px;
}

@media screen and (max-width: 600px) {

    .embla {
        height: 600px;
    }

    .embla__container {
        gap: 50px;
    }

    .embla__slide {
        flex: 0 0 85%;
        height: 480px;
    }

    .embla__slide:nth-child(4) {
        margin-right: 50px;
    }
}


.bg-menu-mobile {
    background: rgba(43, 43, 43, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
}


.bg-menu-aberto {
    background: rgba(43, 43, 43, 0.88);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.3px);
    -webkit-backdrop-filter: blur(10.3px);
}